<% set_default("use_storage", false) %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= css_header %>
    <%= js_header %>
    <title><%= title %></title>
  </head>


  <body data-page-id="<%= id %>" id="<%= id %>">

  <% if (controller) { %>
    <script> bootloader.__controller_name = '<%= controller %>'; </script>
  <% } %>

  <% if (hash) { %>
    <script> bootloader.__controller_hash = '<%= hash %>'; </script>
  <% } %>

  <% if (use_storage) { %>
    <script> bootloader.__use_storage = true; </script>
  <% } %>

  <% if (header) { %>
    <div id="page_header" class="header">
      <%= header %>
    </div>
  <% } %>

  <div id="page_content" class="content">
  </div>

  <% if (socket_header) { %>
      <%= socket_header %>
  <% } %>

</body>
</html>
