<% set_default("client_controller_code", "") %>
<% set_default("server_controller_code", "") %>
<% set_default("template_code", "") %>



<a href="https://github.com/logicflower/superfluous">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
    src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png"
    alt="Fork me on GitHub">
</a>

<%= render_partial("about/introduction.html.erb") %>
<%= render_partial("about/getting_started.html.erb") %>
<%= render_partial("about/features.html.erb") %>

<%= render_partial("about/fundamentals.html.erb", {
  client_controller_code: client_controller_code,
  server_controller_code: server_controller_code,
  template_code: template_code
  }) %>

<%= render_partial("about/boilerplate.html.erb", {
  about_server_code: about_server_code,
  about_client_code: about_client_code
  }) %>

<%= render_partial("about/demos.html.erb") %>
<%= render_partial("about/extending.html.erb") %>
<%= render_partial("about/developer_concerns.html.erb") %>
